/*  your css code here. If applicable */
table {
	  border-width: 0px 0px 1px 1px; /* Top Right Bottom Left */
	  border-style: solid; /* Optional: Set the border style to solid or other styles */
      border-color: orange; 
/*       border: 0px 0px 1px 1px solid orange; */
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
	  border-width: 1px 1px 0px 0px; /* Top Right Bottom Left */
	  border-style: solid; /* Optional: Set the border style to solid or other styles */
      border-color: orange; 
/*       border: 1px solid orange; */
      padding: 3px 5px;
    }

    th {
      background-color: #888888;
      color: white;
    }

    .sub-total-text,.sub-total-row {
      text-align: right;
    }
  